.menuBar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 28px;
    width: 100%;
}

.listBar {
    list-style: none;
    display: block;

}

.listBar li {
    display: inline;
}

.listBar li a {
    text-decoration: none;
    color: #777777;
    font-size: 25px;
    font-family: BebasRegular;
    padding: 1px 20px 1px 20px;
    border-right: 1px solid #d9e4e4;
}

.listBar li a:hover {
    color: #1f65d8;
}

.enter {
    margin-left: 28%;
    text-decoration: none;
    color: #777777;
    font-size: 25px;
    font-family: BebasRegular;
    padding: 1px 20px 1px 20px;
}

.enter:hover {
    text-decoration: none;
    color: #1f65d8;
}

.mainBody {
    width: 100%;
    min-height: 500px;
    background-color: #f8f8f8;
    margin-top: 10px;
    border-left: 3px solid green;
    border-right: 3px solid green;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
}

.footer {
    margin-top: 5px;
    margin-left: 25%;
    width: 50%;
    height: 50px;
    background-color: #333333;
    text-align: center;
    color: #3a82fa;
}

/* ------------- enter --------------------------------------------------------- */
.enterF {
    padding-top: 6%;
    margin-left: 38%;
    width: 25%;
    height: 60%;
}

.wrapEnter {
    background-color: snow;
    text-align: center;
    padding-bottom: 20%;
    border-right: 3px dashed #1f65d8;
    border-left: 3px dashed #1f65d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

.wrapEnter form span {
    padding-right: 15px;
}

.wrapEnter form input {
    margin-top: 10px;
}

.pbtn {
    width: 27%;
    background-color: #1f65d8;
    border-radius: 6px;
    border: none;
    color: white;
    margin-bottom: 10px;
}

/* ---------------------------------- news --------------------------------------*/
.news {
    height: 100%;
    width: 100%;
}

.latestN {
    margin: 0;
    padding: 0;
    margin: 5px 0px 0px 10px;
    padding: 0 4px 0 10px;
    min-height: 100px;
    min-width: 10px;
    border-right: 3px dashed #1f65d8;
}

.listN {
    margin: 5px 0px 0px 5px;
    min-height: 100px;
    min-width: 10px;
}

.latestN strong {
    display: block;
    text-align: center;
    padding-left: 26%;
    padding-right: 32%;
    font-family: BebasRegular;
    font-size: 20px;
    border-bottom: 2px dashed #1f65d8;
}

.latestN strong span {
    color: red;
}

.cNews {
    margin-left: 30%;
    margin-right: 30%;
}

.wrapCNews {
    text-align: center;
    padding-top: 5%;
    background-color: snow;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    border-right: 3px dashed #1f65d8;
    border-left: 3px dashed #1f65d8;
}

.wrapCNews form span {
    padding-right: 10px;
}

.wrapCNews form input {
    margin-top: 10px;
}

.inputF {
    text-align: center;
    padding-left: 32%;
}

.imageOut {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descriOut {
    text-align: justify;
}

.wrapOneNews {
    border-top: 1px dashed #1f65d8;
}

.wrapUserOneNews {
    background-color: snow;
    border-top: 1px solid #1f65d8;
    margin-bottom: 3%;
    border-bottom: 1px dashed #1f65d8;
}

.areaTitle {
    display: block;
    margin-left: 25%;
    width: 50%;
}

.lastNews {
    width: 30%;
    height: 20%;
}

.userImageOut {
    margin-bottom: 10px;
    margin-left: 16%;
    margin-top: 10px;
    width: 70%;
}

.contentOneNews {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.listNews {
    border-left: 2px solid #1f65d8;
}

.h3conf {
    border-bottom: 1px solid #1f65d8;
    text-align: center;
}

.h3conf strong {
    color: red;
}

.oneLastNews {
    margin-bottom: 2%;
    background-color: snow;
    border-radius: 5px;
    border-right: 1px solid #1f65d8;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.searchField {
    width: 100%;
    background-color: snow;
    margin-bottom: 2%;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.searchForm {
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
}

.sbtn {
    background-color: #1f65d8;
    border: medium none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    width: 18%;
}

.controlsbtn {
    background-color: #1f65d8;
    border: medium none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    width: 18%;
}
.logoImg{
    display: inline;
    margin-left: 20%;
    margin-top: 1px;
}
.logoImg img{
    margin-top: -27px;
    width: 80px;
}
.notFoundPage{
    display:block;
    width: 20%;
    margin-bottom: 10px;
    box-shadow: -90px 51px 26px -69px rgba(0, 0, 0, 0.2);
}
.imgNotFound{
    width: 100%;
    align-self: flex-start;
}
#AMenu{
    list-style-type: none;
   background-color: black;
    display: block;
    border-radius: 9px;
    position: fixed;
    top: 5%;
    width: 1.7%;
}
#AMenu li{
    margin-inside: 0;
    margin-outside: 0;
    border: 2px solid #1f65d8;
    border-radius: 30%;
    background-color: black;
    width: auto;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding:10px;
    cursor: pointer;
}
#AMenu li:hover{
    margin-left: 10px;
}
#AMenu li a{
    color : white;
    text-decoration: none;
    font-size: 150%;
    font-family: BebasRegular;
}
#navLog a img{
    align-items: center;
    width:60px;
    margin-left: auto;
    margin-right: auto;
}
#navLog .prev{
     transform: scaleX(-1);
     cursor: pointer;
 }
#navLog .next{
    cursor: pointer;
}
#navLog .navCentLog{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}